/*.open-btn{*/
/*    margin: 100px;*/
/*    padding: 20px;*/
/*}*/


.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(2, 2, 2, 0.6);
    /*backdrop-filter: hue-rotate(65deg);*/


    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: 0.1s;

    z-index: 10;


}

/*if modal add class active*/

.modal.active {
    opacity: 1;
    pointer-events: all;


}

.modal__content {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /*background-color: rgba(89, 81, 81, 0.3);*/
    backdrop-filter: blur(15px);


    width: 50vh;
    height: 35vh;
    transition: .4s all;
    transform: scale(0.5);

    /*justify-content: center;*/
    text-align: center;
    display: grid;
}

.modal__content.active {
    transform: scale(1);

}


.modalTitle {
    color: #e1dddd;
    margin: 10px 5px 20px 5px;
    width: 100%;

}

.modalText {
    margin: 10px;
    padding: 10px 5px;

    width: 90%;
    height: 150px;

    align-self: center;
    justify-self: center;
    /*background: transparent;*/
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    resize: none;
    outline: none;

    background-color: rgba(255, 250, 250, 0.1);
    color: #fff;
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;


}

.modalBtn {
    border-radius: 10px;
    padding: 7px;
    align-self: center;
    justify-self: center;

    background-color: rgba(255, 255, 255, 0.1);
    color: #e1dddd;

}